BasedOnStyle: LLVM
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 150
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: Block
