Checks:
  - "*"
  - -altera-*
  - -android-cloexec-*
  - -llvmlibc-*
  - -fuchsia-*
CheckOptions:
  modernize-use-default-member-init.UseAssignment: true
  readability-implicit-bool-conversion.AllowPointerConditions: true
